* {
    margin: 0;
    padding: 0;
    font-family: Public sans, sans-serif;
}

/*----------Header----------*/

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > button {
    margin-right: 160px;
    display: none;
}

.logo {
    height: 28px;
    margin-left: 10%;
}

.nav {
    display: none;
}

.nav > a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.203125px;
    text-align: left;
    color: #9597A5;
    margin-inline: 15px;
    transition: 0.2s ease;
    padding-bottom: 28px;
}

.nav > a:hover {
    border-bottom: #33D3C9 solid 4px;
    color: #2D314D;
}

.Request {
    padding: 8px 34px;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
    border-radius: 40px;
    border: none;
    background: linear-gradient(135deg, #33D3C9 0%, #2AB6D9 100%);
    transition: 0.2s ease;

}

.Request:hover {
    opacity: 0.4;

}

.fa-bars {
    display: block;
    margin-right: 10%;
    scale: 1.4;
    color: #2D314D;
}

/*----------Bloc1----------*/

.bloc1 {
    width: 100%;
    height: auto;
    display: flex;
    background-color: #FAFAFA;;
    flex-direction: column-reverse;
}

.bloc1-container {
    margin: 100px 0 100px 0;
    width: 100%;
    display: flex;
}

.bloc1-text {
    align-self: center;
    width: 80%;
    height: auto;
    margin-left: 10%;
    text-align: center;
}

.bloc1-text > h1 {
    line-height: 64px;
    color: #2D314D;
    font-size: 56px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -1px;
}

.bloc1-text > p {
    margin-top: 24px;
    color: #9597A5;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.281px;
}

.bloc1-text > button {
    margin-top: 36px;
}

.bloc1-image {
    width: 100%;
    background: linear-gradient(180deg, #2AB6D9 0%, #33D3C9 100%);
}

.bloc1-image > img {
    float: right;
    margin-top: 100px;
}

/*----------Bloc2----------*/

.bloc2 {
    background-color: #F4F5F7;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bloc2-text {
    width: 80%;
    height: 136px;
    margin: 96px 0 96px 10%;
    text-align: center;
}

.bloc2-text > h1 {
    color: #2D314D;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
    letter-spacing: -0.714px;
}

.bloc2-text > p {
    color: #9597A5;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.281px;
}

.bloc2-container {
    margin-left: 10% ;
    width: 80%;
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    margin-bottom: 46px;
}

.bloc2-container > div {
    width: 100%;
    height: 278px;
    margin-right: 10%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-border {
    height: 72px;
    width: 72px;
    background: linear-gradient(135deg, #33D3C9 0%, #2AB6D9 99.58%);
    display: grid;
    place-content: center;
    border-radius: 50%;
}

.bloc2-container > div > h1 {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: -0.4285714328289032px;
    text-align: center;
}

.bloc2-container > div > p {
    margin-top: 26px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.25px;
    text-align: center;
    color: #9597A5;
}

/*----------Bloc3----------*/

.bloc3 {
    background-color: #FAFAFA;;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 46px;
}

.bloc3 > h1 {
    margin-top: 80px;
    color: #2D314D;
    font-family: Public Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.714px;
}

.bloc3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.card {
    width: 255px;
    height: 395px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 50px;
}

.card > h2 {
    margin: 25px 0 0 25px;
    color: #9597A5;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 180% */
    letter-spacing: -0.156px;
    font-family: Public Sans;
}

.card > h1 {
    color: #2D314D;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 125% */
    letter-spacing: -0.286px;
    font-family: Public Sans;
    margin: 8px 25px 8px 25px;
}

.card > h1:hover {
    color: #2AB6D9;
    cursor: pointer;
}

.card > p {
    margin: 0 25px 0 25px;
    font-family: Public Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 138.462% */
    letter-spacing: -0.203px;
    color: #9597A5;
}

/*----------Footer----------*/

footer {
    width: 100%;
    height: auto;
    background: #2D314D;
    display: flex;
}

.footer-content{   
    margin: 50px 10%;
    display: flex;
    width: 80%;
    flex-direction: column;
}

.footer-content > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.icons > i {
    scale: 1.2;
    color: white;
    transition: 0.2s ease;
    margin-top: 30px;
    margin-inline: 10px;
    scale: 1.2 ;
}

.icons > i:hover {
    color: #2AB6D9;
}

.d2 {
    
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.d2 > p {
    color: #FFF;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.234px;
    transition: .2s ease;
}

.d2 > p:hover {
    color: #2AB6D9;
    cursor: pointer;
}

.d3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.d3 > p {
    color: #FFF;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.234px;
    transition: .2s ease;
}

.d3 > p:hover {
    color: #2AB6D9;
    cursor: pointer;
}

.d4 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.d4 > * {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d4 > p{
    margin-top: 30px;
    color: #FFF;
    text-align: right;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 173.333% */
    letter-spacing: -0.234px;
    opacity: 0.5;
}